html {font: 100.1% Arial, Verdana, sans-serif}
html, body, h1, h2, h3, h4, ul, li, ol, dl, dt, dd, p, form, fieldset, label, img, table {
    padding: 0; margin: 0; font-size: 100%; font-weight: normal; border: 0
}

body {
    line-height: 1.1em;
    font-size: 75%;
    color: #666;
    background: #fff;
}
/* links */
a {}
a:visited {}
a:hover {}
/* headers, paragraphs */
h1, h2, h3, h4 {margin: 1em 0 .5em}
p {margin: .5em 0}
h1 {font-size: 2em}
h2 {font-size: 150%}
h3 {font-size: 125%}
h4 {font-size: 110%; font-weight: bold}
/* lists */
ul, ol {list-style-position: inside; padding-left: 20px}
dt {font-weight: bold}
dd {padding-left: 30px}
/* common useful styles */
.hidden {display: none}
.visible {display: block!important}
.wrap {overflow: hidden}
.left {float: left}
.right {float: right}
.a-center {text-align: center}
.a-left {text-align: left}
.a-right {text-align: right}